<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FLIGHT DELAY </title>


</head>
<body>
<center><h1>FLIGHT DELAY </h1></center>


<form action="{{url_for('predict')}}" method="POST">

    <datalist id="Quarter">
        <option value='0.43874662'>
    </datalist>

    <datalist id="Month">
        <option value="0.42842059">
    </datalist>

    <datalist id="DayofMonth">
        <option value="-1.68049286">
    </datalist>

    <datalist id="Origin">
        <option value="-0.49627573">
    </datalist>

    <datalist id="Dest">
        <option value="0.40885022">
    </datalist>

    <datalist id="CRSDepTime">
        <option value="-0.0301369">
    </datalist>

    <datalist id="DepTime">
        <option value="-0.05061675">
    </datalist>

    <datalist id="DepDelayMinutes">
        <option value="-0.33904372">
    </datalist>

    <datalist id="windspeedKmph">
        <option value="0.10225356">
    </datalist>

    <datalist id="DewPointF">
        <option value="1.27791438">
    </datalist>

    <datalist id="cloudcover">
        <option value="-0.29348574">
    </datalist>

    <datalist id="precipMM">
        <option value="-0.16011233">
    </datalist>

    <datalist id="pressure">
        <option value="-0.18090787">
    </datalist>

    <datalist id="WindGustKmph">
        <option value="-0.18496849">
    </datalist>

    <datalist id="visibility">
        <option value="0.30950055">
    </datalist>

    <datalist id="weatherCode">
        <option value="-0.47348545">
    </datalist>

    <datalist id="tempF">
        <option value="1.55427002">
    </datalist>

    <datalist id="WindChillF">
        <option value="1.47192771">
    </datalist>

    <datalist id="winddirDegree">
        <option value="-1.1734422">
    </datalist>

    <datalist id="humidity">
        <option value="-0.68082526">
    </datalist>
    <div>

        <div>
            <h2>Quarter</h2>
            <input list="Quarter" name="cap_shape" placeholder="Enter a value">
        </div>
        <div>
            <h2>Month</h2>
            <input list="Month" name="cap_surface" placeholder="Enter a value">
        </div>
        <div>
            <h2>DayofMonth</h2>
            <input list="DayofMonth" name="cap_color" placeholder="Enter a value">
        </div>
        <div>
            <h2>Origin</h2>
            <input list="Origin" name="bruises" placeholder="Enter a value">
        </div>
        <div>
            <h2>Destination</h2>
            <input list="Dest" name="odor" placeholder="Enter a value">
        </div>
        <div>
            <h2>CRSDepTime</h2>
            <input list="CRSDepTime" name="gill_attachment" placeholder="Enter a value">
        </div>
        <div>
            <h2>DepTime</h2>
            <input list="DepTime" name="gill_spacing" placeholder="Enter a value">
        </div>
        <div>
            <h2>DepDelayMinutes</h2>
            <input list="DepDelayMinutes" name="gill_size" placeholder="Enter a value">
        </div>
        <div>
            <h2>WindspeedKmph</h2>
            <input list="windspeedKmph" name="grill_color" placeholder="Enter a value">
        </div>
        <div>
            <h2>DewPointFe</h2>
            <input list="DewPointF" name="stalk_shape" placeholder="Enter a value">
        </div>
        <div>
            <h2>Cloudcover</h2>
            <input list="cloudcover" name="stalk_root" placeholder="Enter a value">
        </div>
        <div>
            <h2>PrecipMM</h2>
            <input list="precipMM" name="stalk_surface_above_ring" placeholder="Enter a value">
        </div>
        <div>
            <h2>Pressure</h2>
            <input list="pressure" name="stalk_surface_below_ring" placeholder="Enter a value">
        </div>
        <div>
            <h2>WindGustKmph</h2>
            <input list="WindGustKmph" name="stalk_color_below_ring" placeholder="Enter a value">
        </div>
        <div>
            <h2>Visibility</h2>
            <input list="visibility" name="stalk_color_above_ring" placeholder="Enter a value">
        </div>
        <div>
            <h2>WeatherCode</h2>
            <input list="weatherCode" name="veil_type" placeholder="Enter a value">
        </div>
        <div>
            <h2>TempF</h2>
            <input list="tempF" name="veil_color" placeholder="Enter a value">
        </div>
        <div>
            <h2>WindChillF</h2>
            <input list="WindChillF" name="ring_number" placeholder="Enter a value">
        </div>
        <div>
            <h2>WinddirDegree</h2>
            <input list="winddirDegree" name="ring_type" placeholder="Enter a value">
        </div>
        <div>
            <h2>Humidity</h2>
            <input list="humidity" name="spore_print_color" placeholder="Enter a value">
        </div>
    </div>
  <br><br>  <button  type="submit">RESULT</button>
</form>
<!--<button class="res_bt center" type="submit" >RESULT</button>-->


{% if  result %}

<h2> {{result}}</h2>
{% endif %}


</body>
</html>